@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html,
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#options:hover {
    opacity: 1;
}

#options {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    height: 100vh;
}

.options div {
    padding: 20px;
}


.score {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
}

.score div {
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, button {
  border: none;
  border-radius: 2px;
  padding: 7px;
  background: #fff;
  color: #000;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
}
